.first-slide {
    width: 100%;
    height: 920px;
    margin: -22px 0px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.12)) drop-shadow(0px 4px 2px rgba(0,0,0,0.24));
    background-color: #ffffff;
    background: url(../../images/bgheader.png);
    background-position: center;
    .description {
        width: 870px;
        height: 360px;
        background-color: #83aa75;
    }
}