.header {
    width: 100%;
    height: 180px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.12)) drop-shadow(0px 4px 2px rgba(0,0,0,0.24));
    background-color: #333333;
    .order-info {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        background-color: #333333;
    }
    .menu {
        ul {
            display: flex;
            justify-content: space-between;
            width: 500px;
        }
    }
}